@-webkit-keyframes InFadeLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes InFadeLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes InFadeLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes InFadeLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes InFadeRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes InFadeRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes InFadeRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes InFadeRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes InFadeTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes InFadeTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes InFadeTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes InFadeTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes InFadeBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes InFadeBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes InFadeBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes InFadeBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes InFadeBounceLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  55% {
    transform: translateX(-50px);
  }
  85% {
    transform: translateX(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes InFadeBounceLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  55% {
    transform: translateX(-50px);
  }
  85% {
    transform: translateX(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes InFadeBounceLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  55% {
    transform: translateX(-50px);
  }
  85% {
    transform: translateX(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes InFadeBounceLeft-aniamation {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  55% {
    transform: translateX(-50px);
  }
  85% {
    transform: translateX(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes InFadeBounceRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  55% {
    transform: translateX(50px);
  }
  85% {
    transform: translateX(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-moz-keyframes InFadeBounceRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  55% {
    transform: translateX(50px);
  }
  85% {
    transform: translateX(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-o-keyframes InFadeBounceRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  55% {
    transform: translateX(50px);
  }
  85% {
    transform: translateX(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes InFadeBounceRight-aniamation {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  55% {
    transform: translateX(50px);
  }
  85% {
    transform: translateX(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@-webkit-keyframes InFadeBounceTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  55% {
    transform: translateY(-50px);
  }
  85% {
    transform: translateY(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes InFadeBounceTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  55% {
    transform: translateY(-50px);
  }
  85% {
    transform: translateY(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes InFadeBounceTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  55% {
    transform: translateY(-50px);
  }
  85% {
    transform: translateY(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes InFadeBounceTop-aniamation {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  55% {
    transform: translateY(-50px);
  }
  85% {
    transform: translateY(-25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes InFadeBounceBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  55% {
    transform: translateY(50px);
  }
  85% {
    transform: translateY(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-moz-keyframes InFadeBounceBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  55% {
    transform: translateY(50px);
  }
  85% {
    transform: translateY(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-o-keyframes InFadeBounceBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  55% {
    transform: translateY(50px);
  }
  85% {
    transform: translateY(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes InFadeBounceBottom-aniamation {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  55% {
    transform: translateY(50px);
  }
  85% {
    transform: translateY(25px);
  }
  40%, 70%, 100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@-webkit-keyframes InFadeRotateLeftTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-moz-keyframes InFadeRotateLeftTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-o-keyframes InFadeRotateLeftTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@keyframes InFadeRotateLeftTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-webkit-keyframes InFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-moz-keyframes InFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-o-keyframes InFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@keyframes InFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-webkit-keyframes InFadeRotateRightTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-moz-keyframes InFadeRotateRightTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-o-keyframes InFadeRotateRightTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@keyframes InFadeRotateRightTop-aniamation {
  0% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-webkit-keyframes InFadeRotateRightBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-moz-keyframes InFadeRotateRightBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-o-keyframes InFadeRotateRightBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@keyframes InFadeRotateRightBottom-aniamation {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
}
@-webkit-keyframes InRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-moz-keyframes InRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-o-keyframes InRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes InRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes InRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-moz-keyframes InRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-o-keyframes InRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes InRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes InRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes InRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes InRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes InRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes InRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes InRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes InRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes InRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes InRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-moz-keyframes InRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-o-keyframes InRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes InRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes InRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-moz-keyframes InRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-o-keyframes InRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes InRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes InRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes InRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes InRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes InRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes InRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-moz-keyframes InRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-o-keyframes InRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes InRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes InScaleWidth-aniamation {
  0% {
    transform: scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-moz-keyframes InScaleWidth-aniamation {
  0% {
    transform: scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes InScaleWidth-aniamation {
  0% {
    transform: scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@keyframes InScaleWidth-aniamation {
  0% {
    transform: scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes InScaleHeight-aniamation {
  0% {
    transform: scaleY(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-moz-keyframes InScaleHeight-aniamation {
  0% {
    transform: scaleY(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes InScaleHeight-aniamation {
  0% {
    transform: scaleY(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@keyframes InScaleHeight-aniamation {
  0% {
    transform: scaleY(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes InScale-aniamation {
  0% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-moz-keyframes InScale-aniamation {
  0% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes InScale-aniamation {
  0% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@keyframes InScale-aniamation {
  0% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-webkit-keyframes InScale2step-aniamation {
  0% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
  40% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-moz-keyframes InScale2step-aniamation {
  0% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
  40% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@-o-keyframes InScale2step-aniamation {
  0% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
  40% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
@keyframes InScale2step-aniamation {
  0% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
  40% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  80% {
    transform: scaleY(1) scaleY(1);
    color: #212121;
  }
  100% {
    color: #fff;
  }
}
.InFadeLeft {
  animation: InFadeLeft-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.InFadeRight {
  animation: InFadeRight-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.InFadeTop {
  animation: InFadeTop-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.InFadeBottom {
  animation: InFadeBottom-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.InFadeBounceLeft {
  animation: InFadeBounceLeft-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.InFadeBounceRight {
  animation: InFadeBounceRight-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.InFadeBounceTop {
  animation: InFadeBounceTop-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.InFadeBounceBottom {
  animation: InFadeBounceBottom-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.InFadeRotateLeftTop {
  animation: InFadeRotateLeftTop-aniamation 0.8s ease-out;
  animation-fill-mode: forwards;
}

.InFadeRotateLeftBottom {
  animation: InFadeRotateLeftBottom-aniamation 0.8s ease-out;
  animation-fill-mode: forwards;
}

.InFadeRotateRightTop {
  animation: InFadeRotateRightTop-aniamation 0.8s ease-out;
  animation-fill-mode: forwards;
}

.InFadeRotateRightBottom {
  animation: InFadeRotateRightBottom-aniamation 0.8s ease-out;
  animation-fill-mode: forwards;
}

.InRotate3dLeftBack {
  animation: InRotate3dLeftBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.InRotate3dRightBack {
  animation: InRotate3dRightBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.InRotate3dTopBack {
  animation: InRotate3dTopBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.InRotate3dBottomBack {
  animation: InRotate3dBottomBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.InRotate3dLeftFront {
  animation: InRotate3dLeftFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.InRotate3dRightFront {
  animation: InRotate3dRightFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.InRotate3dTopFront {
  animation: InRotate3dTopFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.InRotate3dBottomFront {
  animation: InRotate3dBottomFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.InScaleWidth {
  animation: InScaleWidth-aniamation 1s ease;
  animation-fill-mode: forwards;
}

.InScaleHeight {
  animation: InScaleHeight-aniamation 1s ease;
  animation-fill-mode: forwards;
}

.InScale {
  animation: InScale-aniamation 1s ease;
  animation-fill-mode: forwards;
}

.InScaleBottom {
  animation: InScaleHeight-aniamation 1s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.InScaleTop {
  animation: InScaleHeight-aniamation 1s ease;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.InScaleLeft {
  animation: InScaleWidth-aniamation 1s ease;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.InScaleRight {
  animation: InScaleWidth-aniamation 1s ease;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.InScaleTopLeft {
  animation: InScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: top left;
}

.InScaleTopRight {
  animation: InScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: top right;
}

.InScaleBottomLeft {
  animation: InScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom left;
}

.InScaleBottomRight {
  animation: InScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}

@-webkit-keyframes OutFadeLeft-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
    display: none;
  }
}
@-moz-keyframes OutFadeLeft-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
    display: none;
  }
}
@-o-keyframes OutFadeLeft-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
    display: none;
  }
}
@keyframes OutFadeLeft-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
    display: none;
  }
}
@-webkit-keyframes OutFadeRight-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
    display: none;
  }
}
@-moz-keyframes OutFadeRight-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
    display: none;
  }
}
@-o-keyframes OutFadeRight-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
    display: none;
  }
}
@keyframes OutFadeRight-aniamation {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(200px);
    display: none;
  }
}
@-webkit-keyframes OutFadeTop-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
    display: none;
  }
}
@-moz-keyframes OutFadeTop-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
    display: none;
  }
}
@-o-keyframes OutFadeTop-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
    display: none;
  }
}
@keyframes OutFadeTop-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
    display: none;
  }
}
@-webkit-keyframes OutFadeBottom-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
    display: none;
  }
}
@-moz-keyframes OutFadeBottom-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
    display: none;
  }
}
@-o-keyframes OutFadeBottom-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
    display: none;
  }
}
@keyframes OutFadeBottom-aniamation {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
    display: none;
  }
}
@-webkit-keyframes OutFadeRotateLeftTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
}
@-moz-keyframes OutFadeRotateLeftTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
}
@-o-keyframes OutFadeRotateLeftTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
}
@keyframes OutFadeRotateLeftTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(-100%);
  }
}
@-webkit-keyframes OutFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
}
@-moz-keyframes OutFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
}
@-o-keyframes OutFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
}
@keyframes OutFadeRotateLeftBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(100%);
  }
}
@-webkit-keyframes OutFadeRotateRightTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
}
@-moz-keyframes OutFadeRotateRightTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
}
@-o-keyframes OutFadeRotateRightTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
}
@keyframes OutFadeRotateRightTop-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(90deg) translateY(-100%);
  }
}
@-webkit-keyframes OutFadeRotateRightBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
}
@-moz-keyframes OutFadeRotateRightBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
}
@-o-keyframes OutFadeRotateRightBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
}
@keyframes OutFadeRotateRightBottom-aniamation {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: rotate(-90deg) translateY(100%);
  }
}
@-webkit-keyframes OutRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@-moz-keyframes OutRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@-o-keyframes OutRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes OutRotate3dLeftBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@-webkit-keyframes OutRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@-moz-keyframes OutRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@-o-keyframes OutRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@keyframes OutRotate3dRightBack-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@-webkit-keyframes OutRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@-moz-keyframes OutRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@-o-keyframes OutRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes OutRotate3dTopBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes OutRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@-moz-keyframes OutRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@-o-keyframes OutRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes OutRotate3dBottomBack-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@-webkit-keyframes OutRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@-moz-keyframes OutRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@-o-keyframes OutRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@keyframes OutRotate3dLeftFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@-webkit-keyframes OutRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@-moz-keyframes OutRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@-o-keyframes OutRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@keyframes OutRotate3dRightFront-aniamation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
@-webkit-keyframes OutRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@-moz-keyframes OutRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@-o-keyframes OutRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@keyframes OutRotate3dTopFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}
@-webkit-keyframes OutRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@-moz-keyframes OutRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@-o-keyframes OutRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@keyframes OutRotate3dBottomFront-aniamation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
@-webkit-keyframes OutScaleWidth-aniamation {
  40% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleX(0);
    color: #212121;
  }
}
@-moz-keyframes OutScaleWidth-aniamation {
  40% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleX(0);
    color: #212121;
  }
}
@-o-keyframes OutScaleWidth-aniamation {
  40% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleX(0);
    color: #212121;
  }
}
@keyframes OutScaleWidth-aniamation {
  40% {
    transform: scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleX(0);
    color: #212121;
  }
}
@-webkit-keyframes OutScaleHeight-aniamation {
  40% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0);
    color: #212121;
  }
}
@-moz-keyframes OutScaleHeight-aniamation {
  40% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0);
    color: #212121;
  }
}
@-o-keyframes OutScaleHeight-aniamation {
  40% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0);
    color: #212121;
  }
}
@keyframes OutScaleHeight-aniamation {
  40% {
    transform: scaleY(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0);
    color: #212121;
  }
}
@-webkit-keyframes OutScale-aniamation {
  40% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
}
@-moz-keyframes OutScale-aniamation {
  40% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
}
@-o-keyframes OutScale-aniamation {
  40% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
}
@keyframes OutScale-aniamation {
  40% {
    transform: scaleY(1) scaleX(1);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0);
    color: #212121;
  }
}
@-webkit-keyframes OutScale2step-aniamation {
  20% {
    color: #212121;
    transform: scaleY(1) scaleX(1);
  }
  60% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
}
@-moz-keyframes OutScale2step-aniamation {
  20% {
    color: #212121;
    transform: scaleY(1) scaleX(1);
  }
  60% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
}
@-o-keyframes OutScale2step-aniamation {
  20% {
    color: #212121;
    transform: scaleY(1) scaleX(1);
  }
  60% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
}
@keyframes OutScale2step-aniamation {
  20% {
    color: #212121;
    transform: scaleY(1) scaleX(1);
  }
  60% {
    transform: scaleY(1) scaleX(0.05);
    color: #212121;
  }
  100% {
    transform: scaleY(0) scaleX(0.05);
    color: #212121;
  }
}
.OutFadeLeft {
  animation: OutFadeLeft-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutFadeRight {
  animation: OutFadeRight-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutFadeTop {
  animation: OutFadeTop-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutFadeBottom {
  animation: OutFadeBottom-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutFadeRotateLeftTop {
  animation: OutFadeRotateLeftTop-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.OutFadeRotateLeftBottom {
  animation: OutFadeRotateLeftBottom-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.OutFadeRotateRightTop {
  animation: OutFadeRotateRightTop-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.OutFadeRotateRightBottom {
  animation: OutFadeRotateRightBottom-aniamation 0.8s ease-in;
  animation-fill-mode: forwards;
}

.OutRotate3dLeftBack {
  animation: OutRotate3dLeftBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.OutRotate3dRightBack {
  animation: OutRotate3dRightBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.OutRotate3dTopBack {
  animation: OutRotate3dTopBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.OutRotate3dBottomBack {
  animation: OutRotate3dBottomBack-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.OutRotate3dLeftFront {
  animation: OutRotate3dLeftFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.OutRotate3dRightFront {
  animation: OutRotate3dRightFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.OutRotate3dTopFront {
  animation: OutRotate3dTopFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.OutRotate3dBottomFront {
  animation: OutRotate3dBottomFront-aniamation 0.5s ease-out;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.OutScaleWidth {
  animation: OutScaleWidth-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutScaleHeight {
  animation: OutScaleHeight-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutScale {
  animation: OutScale-aniamation 0.8s ease;
  animation-fill-mode: forwards;
}

.OutScaleBottom {
  animation: OutScaleHeight-aniamation 0.8s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom;
}

.OutScaleTop {
  animation: OutScaleHeight-aniamation 0.8s ease;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.OutScaleLeft {
  animation: OutScaleWidth-aniamation 0.8s ease;
  animation-fill-mode: forwards;
  transform-origin: left;
}

.OutScaleRight {
  animation: OutScaleWidth-aniamation 0.8s ease;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.OutScaleTopLeft {
  animation: OutScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: top left;
}

.OutScaleTopRight {
  animation: OutScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: top right;
}

.OutScaleBottomLeft {
  animation: OutScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom left;
}

.OutScaleBottomRight {
  animation: OutScale2step-aniamation 1.3s ease;
  animation-fill-mode: forwards;
  transform-origin: bottom right;
}
