@import "mixins";
// InAnimations
@include animate(FadeInLeft-aniamation) {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@include animate(FadeInRight-aniamation) {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@include animate(FadeInTop-aniamation) {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@include animate(FadeInBottom-aniamation) {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
// InAnimationsClasses
.FadeInLeft {
	animation: FadeInLeft-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.FadeInRight {
	animation: FadeInRight-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.FadeInTop {
	animation: FadeInTop-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.FadeInBottom {
	animation: FadeInBottom-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
// OutAnimations
@include animate(FadeOutLeft-aniamation) {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(-200px);
		display: none;
	}
}
@include animate(FadeOutRight-aniamation) {
	0% {
		opacity: 1;
		transform: translateX(0px);
		
	}
	100% {
		opacity: 0;
		transform: translateX(200px);
		display: none;

	}
}
@include animate(FadeOutTop-aniamation) {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-200px);
		display: none;

	}
}
@include animate(FadeOutBottom-aniamation) {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(200px);
		display: none;

	}
}
// OutAnimationsClasses
.FadeOutLeft {
	animation: FadeOutLeft-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.FadeOutRight {
	animation: FadeOutRight-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.FadeOutTop {
	animation: FadeOutTop-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.FadeOutBottom {
	animation: FadeOutBottom-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}






















