@import "mixins";
// InAnimations
@include animate(InFadeLeft-aniamation) {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@include animate(InFadeRight-aniamation) {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@include animate(InFadeTop-aniamation) {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@include animate(InFadeBottom-aniamation) {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@include animate(InFadeBounceLeft-aniamation) {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}
	55%  {
		transform: translateX(-50px);
	}
	85%  {
		transform: translateX(-25px);
	}
	40%, 70%, 100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@include animate(InFadeBounceRight-aniamation) {
	0% {
		opacity: 0;
		transform: translateX(200px);
	}
	55%  {
		transform: translateX(50px);
	}
	85%  {
		transform: translateX(25px);
	}
	40%, 70%, 100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
@include animate(InFadeBounceTop-aniamation) {
	0% {
		opacity: 0;
		transform: translateY(-200px);
	}
	55%  {
		transform: translateY(-50px);
	}
	85%  {
		transform: translateY(-25px);
	}
	40%, 70%, 100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@include animate(InFadeBounceBottom-aniamation) {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	55%  {
		transform: translateY(50px);
	}
	85%  {
		transform: translateY(25px);
	}
	40%, 70%, 100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
@include animate(InFadeRotateLeftTop-aniamation) {
	0% {
		opacity: 0;
		transform: rotate(-90deg) translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
}
@include animate(InFadeRotateLeftBottom-aniamation) {
	0% {
		opacity: 0;
		transform: rotate(90deg) translateY(100%);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
}
@include animate(InFadeRotateRightTop-aniamation) {
	0% {
		opacity: 0;
		transform: rotate(90deg) translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
}
@include animate(InFadeRotateRightBottom-aniamation) {
	0% {
		opacity: 0;
		transform: rotate(-90deg) translateY(100%);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
}
@include animate(InRotate3dLeftBack-aniamation) {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}
@include animate(InRotate3dRightBack-aniamation) {
	0% {
		transform: rotateY(-90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}
@include animate(InRotate3dTopBack-aniamation) {
	0% {
		transform: rotateX(-90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
@include animate(InRotate3dBottomBack-aniamation) {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
@include animate(InRotate3dLeftFront-aniamation) {
	0% {
		transform: rotateY(-90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}
@include animate(InRotate3dRightFront-aniamation) {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}
@include animate(InRotate3dTopFront-aniamation) {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
@include animate(InRotate3dBottomFront-aniamation) {
	0% {
		transform: rotateX(-90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}










// InAnimationsClasses
.InFadeLeft {
	animation: InFadeLeft-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.InFadeRight {
	animation: InFadeRight-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.InFadeTop {
	animation: InFadeTop-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.InFadeBottom {
	animation: InFadeBottom-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.InFadeBounceLeft {
	animation: InFadeBounceLeft-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.InFadeBounceRight {
	animation: InFadeBounceRight-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.InFadeBounceTop {
	animation: InFadeBounceTop-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.InFadeBounceBottom {
	animation: InFadeBounceBottom-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.InFadeRotateLeftTop {
	animation: InFadeRotateLeftTop-aniamation 0.8s ease-out;
	animation-fill-mode: forwards;
}
.InFadeRotateLeftBottom {
	animation: InFadeRotateLeftBottom-aniamation 0.8s ease-out;
	animation-fill-mode: forwards;
}
.InFadeRotateRightTop {
	animation: InFadeRotateRightTop-aniamation 0.8s ease-out;
	animation-fill-mode: forwards;
}
.InFadeRotateRightBottom {
	animation: InFadeRotateRightBottom-aniamation 0.8s ease-out;
	animation-fill-mode: forwards;
}
.InRotate3dLeftBack {
	animation: InRotate3dLeftBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: left;
}
.InRotate3dRightBack {
	animation: InRotate3dRightBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: right;
}
.InRotate3dTopBack {
	animation: InRotate3dTopBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: top;
}
.InRotate3dBottomBack {
	animation: InRotate3dBottomBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: bottom;
}
.InRotate3dLeftFront{
	animation: InRotate3dLeftFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: left;
}
.InRotate3dRightFront{
	animation: InRotate3dRightFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: right;
}
.InRotate3dTopFront{
	animation: InRotate3dTopFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: top;
}
.InRotate3dBottomFront{
	animation: InRotate3dBottomFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: bottom;
}






















// OutAnimations
@include animate(OutFadeLeft-aniamation) {
	0% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(-200px);
		display: none;
	}
}
@include animate(OutFadeRight-aniamation) {
	0% {
		opacity: 1;
		transform: translateX(0px);
		
	}
	100% {
		opacity: 0;
		transform: translateX(200px);
		display: none;

	}
}
@include animate(OutFadeTop-aniamation) {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(-200px);
		display: none;

	}
}
@include animate(OutFadeBottom-aniamation) {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(200px);
		display: none;

	}
}
@include animate(OutFadeRotateLeftTop-aniamation) {
	0% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
	100% {
		opacity: 0;
		transform: rotate(-90deg) translateY(-100%);
	}
}
@include animate(OutFadeRotateLeftBottom-aniamation) {
	0% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
	100% {
		opacity: 0;
		transform: rotate(90deg) translateY(100%);
	}
}
@include animate(OutFadeRotateRightTop-aniamation) {
	0% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
	100% {
		opacity: 0;
		transform: rotate(90deg) translateY(-100%);
	}
}
@include animate(OutFadeRotateRightBottom-aniamation) {
	0% {
		opacity: 1;
		transform: rotate(0deg)  translateY(0%);
	}
	100% {
		opacity: 0;
		transform: rotate(-90deg) translateY(100%);
	}
}
@include animate(OutRotate3dLeftBack-aniamation) {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}
@include animate(OutRotate3dRightBack-aniamation) {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-90deg);
	}
}
@include animate(OutRotate3dTopBack-aniamation) {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(-90deg);
	}
}
@include animate(OutRotate3dBottomBack-aniamation) {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}
@include animate(OutRotate3dLeftFront-aniamation) {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-90deg);
	}
}
@include animate(OutRotate3dRightFront-aniamation) {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}
@include animate(OutRotate3dTopFront-aniamation) {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}
@include animate(OutRotate3dBottomFront-aniamation) {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(-90deg);
	}
}

// OutAnimationsClasses
.OutFadeLeft {
	animation: OutFadeLeft-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.OutFadeRight {
	animation: OutFadeRight-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.OutFadeTop {
	animation: OutFadeTop-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.OutFadeBottom {
	animation: OutFadeBottom-aniamation 0.8s ease;
	animation-fill-mode: forwards;
}
.OutFadeRotateLeftTop {
	animation: OutFadeRotateLeftTop-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.OutFadeRotateLeftBottom {
	animation: OutFadeRotateLeftBottom-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.OutFadeRotateRightTop {
	animation: OutFadeRotateRightTop-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.OutFadeRotateRightBottom {
	animation: OutFadeRotateRightBottom-aniamation 0.8s ease-in;
	animation-fill-mode: forwards;
}
.OutRotate3dLeftBack {
	animation: OutRotate3dLeftBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: left;
}
.OutRotate3dRightBack {
	animation: OutRotate3dRightBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: right;
}
.OutRotate3dTopBack {
	animation: OutRotate3dTopBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: top;
}
.OutRotate3dBottomBack {
	animation: OutRotate3dBottomBack-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: bottom;
}
.OutRotate3dLeftFront{
	animation: OutRotate3dLeftFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: left;
}
.OutRotate3dRightFront{
	animation: OutRotate3dRightFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: right;
}
.OutRotate3dTopFront{
	animation: OutRotate3dTopFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: top;
}
.OutRotate3dBottomFront{
	animation: OutRotate3dBottomFront-aniamation 0.5s ease-out;
	animation-fill-mode: forwards;
	transform-origin: bottom;
}























